body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #3c3a3a;
}   

h2 {
    color: #ffffff;
    font-size: 16px;
}

input[type="email"], input[type="password"] {
    width: calc(100% - 22px); /* Full width minus padding */
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box - 10px; /* Ensures padding does not increase the width */
}
select[id="studytype"], select[id="major"], select[id="studylevel"], select[id="content"] {
    width: calc(100% - 22px); /* Full width minus padding */
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box - 10px; /* Ensures padding does not increase the width */
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

#signUpContainer, #signInContainer, #questionnaire, #status, #report, #optimize {
    background-color: #3c3a3a;
    padding: 60px;
    padding-top: 0px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

p {
    font-size: 14px;
}

div.question {
    margin-bottom: 15px;
}

/* Toggle between sign in and sign up forms */
#showSignUp, #showSignIn {
    background: none;
    color: #007bff;
    padding: 0;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

#showSignUp:hover, #showSignIn:hover {
    text-decoration: underline;
}
